google-api-core>=2.19
google-cloud-dataproc>=5.18
google-colabsqlviz>=0.3.0
ipython~=9.1
ipywidgets>=8.0.0
packaging>=20.0
pyink~=24.0
pyspark[connect]~=4.0.0
setuptools>=72.0
sparksql-magic>=0.0.3
tqdm>=4.67
traitlets>=5.1
websockets>=14.0
